@model IEnumerable<Employee>
@{
    ViewData["Title"] = "List of employees";
}
<h1>@ViewData["Title"]</h1>

<p>This is list of employees which are available for car pooling</p>

    <div class="container">
        <div class="row">
            <div class="col-4"><h3>Employee Id</h3></div>
            <div class="col-4"><h3>Name</h3></div>
        </div>

        @foreach (var employee in Model)
        {
            <div class="row">
                <div class="col-sm-4">@employee.Id</div>
                <div class="col-sm-4">@employee.Name</div>
            </div>
        }
    </div>

