@model IEnumerable<Carpool.Domain.Models.Employee>
@{
    ViewData["Title"] = "Employees";
}
<h1>@ViewData["Title"]</h1>

<p>These are employees which are available for car pooling</p>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Has drivers license</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.IsDriver</td>
            </tr>
        }
    </tbody>

</table>
