@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web application for organizing car rides among employees.</p>

    @Html.ActionLink("Create carpool ride", "CreateCarRide", "Home")
</div>
