@model PickPassengersViewModel
@{
    ViewData["Title"] = "PickPassengers";
}

<div class="card">
    <div class="card-header">
        Current car ride details
    </div>
    <div class="card-body">
        <h5 class="card-title">Pick passengers</h5>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="@Model.SelectedEmployeesId">Select employees for the ride</label>
                <div class="form-inline">
                    <select class="form-control mb-2 col-md-4" asp-for="@Model.SelectedEmployeesId" id="employeeId" asp-items="@(new SelectList(Model.ListOfEmployees, "Id", "Name"))"></select>
                    <button type="button" id="addEmployee" class="btn btn-secondary mb-2 mx-2">Add employee to ride</button>
                </div>
            </div>
            <div class="col-md-4 mb-3">
            </div>
        </div>
    </div>
    <div class="form-group">
        <table class="table col-md-8" id="employeeOnRideTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Is driver</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var employeeList = []; // for storing selected employees

        $(document).ready(function () {
            $("#addEmployee").click(function () {
                var employeeName = $("#employeeId :selected").text(); 
                var employeeId = $("#employeeId").val();
                $('#employeeOnRideTable').append('<tr><td>' + employeeId + '</td><td>' + employeeName + '</td><td><button class="btnDelete">Delete</td></tr>');

                employeeList.push(employeeId);
            });
            $("#employeeOnRideTable").on("click", ".btnDelete", function () {
                $(this).closest("tr").remove();
            });
        });
    </script>
}